<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-body p-4">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>

            <div class="form-group">
              
            </div>
            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-user"></i></span>
              <input type="text" id="username" name="username" class="form-control" [(ngModel)]="register.username" #username="ngModel"
                 placeholder="Username">              
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon">@</span>
              <input type="email" id="email" name="email" class="form-control" [(ngModel)]="register.email" #email="ngModel"
               placeholder="Email">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="register.password" #password="ngModel"
               placeholder="Password">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-addon"><i class="icon-lock"></i></span>
              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="register.confirmPassword" #password="ngModel"
               placeholder="Confirm Password">
            </div>

            <button type="button" class="btn btn-block btn-success" (click)="onRegister()">Create Account</button>
          </div>
          <div class="card-footer p-4">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
              </div>
              <div class="col-6">
                <button class="btn btn-block btn-google-plus" type="button"><span>google</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
