<div class="custom-form  text-center">
  <form #forgotform="ngForm" (ngSubmit)="onSubmit(forgotform.valid,forgotform.value)" novalidate autocomplete="off" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Forgot Password</h1>

    <div class="login-input-space-bottom">
      <label class="sr-only">Username</label>
      <input type="text" (ngModel)="username" #username="ngModel" name="username" id="username" class="form-control" placeholder="username"
        required autofocus>
      <div *ngIf="username.errors?.required && username.touched" class="alert alert-danger">
        Username is required
      </div>
    </div>
    <button [disabled]="!forgotform.valid" class="btn btn-lg btn-primary btn-block" type="submit">Send verification</button>
    <button class="btn btn-lg btn-block" [routerLink]="['/']">Cancel</button>
  </form>
</div>