<div class="container" style="border:1px solid #cecece;width: 30%;">
  <h3 class="h3 mb-3 font-weight-normal" style="text-align:center">Sign Up</h3>
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" novalidate autocomplete="off">

    <div class="form-group">
      <label for="firstName">First Name*</label>
      <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="userObj.firstName" #firstName="ngModel"
        required>

      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
        <div *ngIf="firstName.errors.required">
          First Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="middleName">Middle Name</label>
      <input type="text" id="middleName" name="middleName" class="form-control" [(ngModel)]="userObj.middleName" #middleName="ngModel">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name*</label>
      <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="userObj.lastName" #lastName="ngModel"
        required>

      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
        <div *ngIf="lastName.errors.required">
          Last Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="userName">User Name*</label>
      <input type="text" id="userName" name="userName" class="form-control" [(ngModel)]="userObj.userName" #userName="ngModel"
        required>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
        <div *ngIf="userName.errors.required">
          User Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="emailId">Email*</label>
      <input type="email" id="emailId" name="emailId" class="form-control" [(ngModel)]="userObj.emailId" #emailId="ngModel" required
        [email]="true">
      <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="alert alert-danger">
        <div *ngIf="emailId.errors.required">
          Email is required.
        </div>
        <div *ngIf="emailId.errors.email">
          Please enter valid email.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password*</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="userObj.password" #password="ngModel"
        validateEqual="confirmPassword" reverse="true" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,16}">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors?.pattern">
          Minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special
          character.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password*</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" [(ngModel)]="userObj.confirmPassword"
        #confirmPassword="ngModel" validateEqual="password" reverse="false" required>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
        Password mismatch
      </div>
    </div>

    <div class="form-group">
      <label for="securityQuestionId">Security Question*</label>
      <select id="securityQuestionId" name="securityQuestionId" class="form-control" [(ngModel)]="userObj.securityQuestionId" #securityQuestionId="ngModel"
        required>
        <option value="" selected disabled>Select</option>
        <option [ngValue]="qes.SecurityQuestionId" *ngFor="let qes of securityQuestions">
          {{qes.SecurityQuestion}}
        </option>
      </select>

      <div *ngIf="securityQuestionId.invalid && (securityQuestionId.dirty || securityQuestionId.touched)" class="alert alert-danger">
        <div *ngIf="securityQuestionId.errors.required">
          Security Question is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="securityAnswer">Security Answer*</label>
      <input type="text" id="securityAnswer" name="securityAnswer" class="form-control" [(ngModel)]="userObj.securityAnswer" #securityAnswer="ngModel"
        required>
      <div *ngIf="securityAnswer.invalid && (securityAnswer.dirty || securityAnswer.touched)" class="alert alert-danger">
        <div *ngIf="securityAnswer.errors.required">
          Security Answer is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Save</button>
      <button type="button" class="btn btn-warning" (click)="registerForm.resetForm({})">Reset</button>
      <button type="button" class="btn" [routerLink]="['']">Cancel</button>
    </div>

  </form>
</div>