<div class="container">
  <h3 class="h3 mb-3 font-weight-normal" style="text-align:center">Change Password</h3>
  <form #changePassword="ngForm" (ngSubmit)="onSubmit(changePassword)" novalidate autocomplete="off" class="form-signin">
    <div class="login-input-space-bottom">
      <label class="sr-only">Username</label>
      <input type="text" (ngModel)="username" #username="ngModel" name="username" id="username" class="form-control" placeholder="Previous password"
        required autofocus>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        Username mismatch
      </div>
    </div>

    <div class="login-input-space-bottom">
      <label class="sr-only" for="password">Password</label>
      <input type="password" placeholder="New Password" id="password" name="password" class="form-control" (ngModel)="password"
        #password="ngModel" validateEqual="confirmPassword" reverse="true" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,16}">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors?.pattern">
          Minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special
          character.
        </div>
      </div>
    </div>

    <div class="login-input-space-bottom">
      <label class="sr-only" for="confirmPassword">Confirm Password</label>
      <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" class="form-control" (ngModel)="confirmPassword"
        #confirmPassword="ngModel" validateEqual="password" reverse="false" required>
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
        Password mismatch
      </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="changePassword.invalid">Save</button>
    <button type="button" class="btn btn-lg btn-block">Cancel</button>
  </form>
</div>